In [59]:
import re
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import jieba
import jieba.analyse
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import csv

In [3]:
train_data = pd.read_csv("train_data.csv")
#list(train_data.iloc[:500,1].astype(str))
train_data

       index  ...      time
0          0  ...  20:43:35
1          1  ...  16:10:51
2          2  ...  17:21:33
3          3  ...  01:27:23
4          4  ...  10:26:44
...      ...  ...       ...
31865  31865  ...  13:05:25
31866  31866  ...  22:21:53
31867  31867  ...  16:41:36
31868  31868  ...  23:53:18
31869  31869  ...  15:14:01

[31870 rows x 6 columns]

In [5]:
train_label = pd.read_csv("train_label.csv")
train_label

       index  push  down
0          0     0     0
1          1     1     0
2          2     0     0
3          3     0     1
4          4     1     0
...      ...   ...   ...
31865  31865     1     0
31866  31866     0     0
31867  31867     0     0
31868  31868     0     0
31869  31869     0     0

[31870 rows x 3 columns]

In [7]:
# 將data與label放在一起
from glob import glob

files = glob('train*.csv')

df_list = [pd.read_csv(file) for file in files]  #串列中包含兩個Pandas DataFrame
my_train_data = pd.merge(df_list[0], df_list[1], on='index')
 
my_train_data

       index  push  ...                                    segment_context      time
0          0     0  ...  \n/剛/看/了/一下/日本/警視廳/的/資料/\n/今年/1/~/9/月/的/自殺/人數/...  20:43:35
1          1     1  ...  \n/宅宅/我/最近/滑/臉書/\n/\n/的/影片/看到/一/個/女/的/\n/\n/右手...  16:10:51
2          2     0  ...  \n/※/ /八卦板/務請/到/ /GossipPicket/ /檢舉/板/實名/詢問/\n...  17:21:33
3          3     0  ...  \n/各/位/常常/質疑/我們/莎莎/的/身材/\n/\n/畢竟/平常/莎莎/穿得/比較/保...  01:27:23
4          4     1  ...  \n/每/次/在/路上/看到/一/堆/機車/蹦蹦/叫/的/\n/\n/明明/就/慢到/笑/，...  10:26:44
...      ...   ...  ...                                                ...       ...
31865  31865     1  ...  \n/韓國人/蜜月/會去/濟州島/\n/\n/台灣人/蜜月/不會/去/澎湖群島/\n/\n/...  13:05:25
31866  31866     0  ...  \n/以前/\n/中天/新聞/各/種/誇張/不實/\n/但/還是/會/稍微/裝/一下/正派/...  22:21:53
31867  31867     0  ...  \n/只/記得/男/主角/問女/主角/要不要/喝水/\n/\n/這是/那/部/\n/\n/想...  16:41:36
31868  31868     0  ...  \n/有/個/和尚/眼睛/白白/的/\n/\n/看起來/應該/是/個/瞎子/\n/\n/聽說...  23:53:18
31869  31869     0  ...  \n/噗噗/ /本肥/現在/還/有/3000/塊/消費券/\n/\n/請問/滿滿/的/300...  15:14:01

[31870 rows x 8 columns]

In [8]:
my_train = my_train_data[['segment_title' ,'segment_context' ,'push' ,'down']]
my_train

                           segment_title  ... down
0       /為什麼/日本/10/月/，/自殺/人數/會破/2000/人/？  ...    0
1                   /急/！/問/一/首/歌/，/高手/請進  ...    0
2                     /話/說/唐吉軻德/的/消息/呢/?  ...    0
3        /網議/愛莉/莎莎/身材/如何/?/ /鄉民/:/根本/藏不住  ...    1
4         /改/機車/的/人/怎麼/不/先去/減肥/或/看醫生/啊/？  ...    0
...                                  ...  ...  ...
31865                  /濟州島/是/那裡/比/澎湖/好玩  ...    0
31866        /中天/Youtube/是/不/是/更/敢/講/了/？  ...    0
31867                  /要不要/喝水/是/哪/一部/電影  ...    0
31868                     /有/個/和尚/一直/哭/？  ...    0
31869                   /消費券/要/怎麼/花/最/划算  ...    0

[31870 rows x 4 columns]

In [9]:
df1 = pd.DataFrame(my_train)
df1['segment_title'] = df1['segment_title'].apply(lambda x :  str(x)[1:-2].replace("/"," ").replace("，"," "))
df1['segment_context'] = df1['segment_context'].apply(lambda x :  str(x)[1:-2].replace("/"," ").replace("\n"," ").replace("，"," "))
df1['key'] = df1['segment_title'].astype(str)+' '+df1['segment_context'].astype(str)

In [10]:
# 先將所有的segment_title 切分並放入list中
arr = []
for i in my_train['segment_title']:
    i = str(i)
    arr.append(i.split('/'))

# 將 train的segment_title都放入 dict
wp_point = {} # 算push
wd_point = {} # 算down
for a in arr:
    wp_point.update(dict.fromkeys(a ,1))
    wd_point.update(dict.fromkeys(a ,1))

In [ ]:
wp_point
#G(count(wp_point),wp_point)

In [23]:
df1

                        segment_title  ...                                                key
0       為什麼 日本 10 月   自殺 人數 會破 2000 人  ...   為什麼 日本 10 月   自殺 人數 會破 2000 人  剛 看 了 一下 日本 警視...
1                   急 ！ 問 一 首 歌   高手   ...   急 ！ 問 一 首 歌   高手   宅宅 我 最近 滑 臉書     的 影片 看到 一...
2                     話 說 唐吉軻德 的 消息 呢  ...   話 說 唐吉軻德 的 消息 呢  ※   八卦板 務請 到   GossipPicket ...
3        網議 愛莉 莎莎 身材 如何 ?   鄉民 : 根本 藏  ...   網議 愛莉 莎莎 身材 如何 ?   鄉民 : 根本 藏  各 位 常常 質疑 我們 莎莎...
4         改 機車 的 人 怎麼 不 先去 減肥 或 看醫生 啊  ...   改 機車 的 人 怎麼 不 先去 減肥 或 看醫生 啊  每 次 在 路上 看到 一 堆 ...
...                               ...  ...                                                ...
31865                  濟州島 是 那裡 比 澎湖   ...   濟州島 是 那裡 比 澎湖   韓國人 蜜月 會去 濟州島     台灣人 蜜月 不會 去...
31866        中天 Youtube 是 不 是 更 敢 講 了  ...   中天 Youtube 是 不 是 更 敢 講 了  以前   中天 新聞 各 種 誇張 不...
31867                  要不要 喝水 是 哪 一部   ...   要不要 喝水 是 哪 一部   只 記得 男 主角 問女 主角 要不要 喝水     這是...
31868                     有 個 和尚 一直 哭  ...   有 個 和尚 一直 哭  有 個 和尚 眼睛 白白 的     看起來 應該 是 個 瞎子...
31869                   消費券 要 怎麼 花 最   ...   消費券 要 怎麼 花 最   噗噗   本肥 現在 還 有 3000 塊 消費券     ...

[31870 rows x 5 columns]

In [12]:
def count(df):
    vectorizer = CountVectorizer()
    X = vectorizer.fit_transform(df['key'])
    tfidf = TfidfTransformer() 
    tf=tfidf.fit_transform(X)
    word = vectorizer.get_feature_names() 
    
    return tf

In [75]:
print(tf)

  (0, 91971)	0.22097917077689724
  (0, 90792)	0.1894124247635383
  (0, 84296)	0.3444460691937282
  (0, 78015)	0.07738527864351004
  (0, 71125)	0.08869895297972248
  (0, 69239)	0.06029171834540448
  (0, 68797)	0.1894124247635383
  (0, 60113)	0.18221891238883278
  (0, 58328)	0.23342313754985222
  (0, 46375)	0.09999240346480903
  (0, 44782)	0.10219001956476598
  (0, 38731)	0.10642726125207258
  (0, 32530)	0.09814039505991029
  (0, 24692)	0.12418976109244638
  (0, 23892)	0.06560925179714117
  (0, 23070)	0.16923795074339007
  (0, 22750)	0.3258610319145992
  (0, 18166)	0.06274496571239635
  (0, 16996)	0.09055469771703971
  (0, 14843)	0.1894124247635383
  (0, 14265)	0.1894124247635383
  (0, 13214)	0.1894124247635383
  (0, 12003)	0.1894124247635383
  (0, 11996)	0.18221891238883278
  (0, 9817)	0.15043061875605632
  :	:
  (31868, 60478)	0.1516370342094947
  (31868, 57267)	0.19817476010482651
  (31868, 51622)	0.12291881584955953
  (31868, 44105)	0.23567624165034307
  (31868, 37605)	0.2700977154367002
  (31868, 35273)	0.6294000705932172
  (31868, 22972)	0.09712700083377401
  (31868, 18513)	0.13722186025748626
  (31869, 99632)	0.1732961185282708
  (31869, 90679)	0.14074992717550353
  (31869, 90427)	0.09914825420268052
  (31869, 72220)	0.07389226624563534
  (31869, 68284)	0.1643818696346945
  (31869, 67132)	0.7290068005595041
  (31869, 61294)	0.13337763937988062
  (31869, 60643)	0.055790980567534995
  (31869, 50162)	0.15446626032543503
  (31869, 42069)	0.17868328397510996
  (31869, 36638)	0.20415420698243092
  (31869, 35575)	0.1720540191564994
  (31869, 33626)	0.07309361075018589
  (31869, 33135)	0.18865740489081326
  (31869, 29231)	0.18981787948000764
  (31869, 28951)	0.1422168364746265
  (31869, 1889)	0.3622611100678263

In [63]:
df1

                        segment_title  ...                                                key
0       為什麼 日本 10 月   自殺 人數 會破 2000 人  ...   為什麼 日本 10 月   自殺 人數 會破 2000 人  剛 看 了 一下 日本 警視...
1                   急 ！ 問 一 首 歌   高手   ...   急 ！ 問 一 首 歌   高手   宅宅 我 最近 滑 臉書     的 影片 看到 一...
2                     話 說 唐吉軻德 的 消息 呢  ...   話 說 唐吉軻德 的 消息 呢  ※   八卦板 務請 到   GossipPicket ...
3        網議 愛莉 莎莎 身材 如何 ?   鄉民 : 根本 藏  ...   網議 愛莉 莎莎 身材 如何 ?   鄉民 : 根本 藏  各 位 常常 質疑 我們 莎莎...
4         改 機車 的 人 怎麼 不 先去 減肥 或 看醫生 啊  ...   改 機車 的 人 怎麼 不 先去 減肥 或 看醫生 啊  每 次 在 路上 看到 一 堆 ...
...                               ...  ...                                                ...
31865                  濟州島 是 那裡 比 澎湖   ...   濟州島 是 那裡 比 澎湖   韓國人 蜜月 會去 濟州島     台灣人 蜜月 不會 去...
31866        中天 Youtube 是 不 是 更 敢 講 了  ...   中天 Youtube 是 不 是 更 敢 講 了  以前   中天 新聞 各 種 誇張 不...
31867                  要不要 喝水 是 哪 一部   ...   要不要 喝水 是 哪 一部   只 記得 男 主角 問女 主角 要不要 喝水     這是...
31868                     有 個 和尚 一直 哭  ...   有 個 和尚 一直 哭  有 個 和尚 眼睛 白白 的     看起來 應該 是 個 瞎子...
31869                   消費券 要 怎麼 花 最   ...   消費券 要 怎麼 花 最   噗噗   本肥 現在 還 有 3000 塊 消費券     ...

[31870 rows x 5 columns]

In [110]:
def P1(X,Y):
    X_train, X_test, y_train, y_test = train_test_split(X, Y['push'].astype(object), test_size=0.07659)
    
    knn = KNeighborsClassifier()
    knn.fit(X_train,y_train.astype('int'))

    y_pred = knn.predict(X_test)
    y_test=y_test.values
    a = [[y_test,y_pred]]
    return y_pred 
def P2(X,Y):
    X_train, X_test, y_train, y_test = train_test_split(X, Y['down'].astype(object), test_size=0.07659)
    
    knn = KNeighborsClassifier()
    knn.fit(X_train,y_train.astype('int'))

    y_pred = knn.predict(X_test)
    y_test=y_test.values
    a = [[y_test,y_pred]]
    return y_pred

In [67]:
df['key']

0         為什麼 日本 10 月   自殺 人數 會破 2000 人  剛 看 了 一下 日本 警視...
1         急 ！ 問 一 首 歌   高手   宅宅 我 最近 滑 臉書     的 影片 看到 一...
2         話 說 唐吉軻德 的 消息 呢  ※   八卦板 務請 到   GossipPicket ...
3         網議 愛莉 莎莎 身材 如何 ?   鄉民 : 根本 藏  各 位 常常 質疑 我們 莎莎...
4         改 機車 的 人 怎麼 不 先去 減肥 或 看醫生 啊  每 次 在 路上 看到 一 堆 ...
                               ...
31865     濟州島 是 那裡 比 澎湖   韓國人 蜜月 會去 濟州島     台灣人 蜜月 不會 去...
31866     中天 Youtube 是 不 是 更 敢 講 了  以前   中天 新聞 各 種 誇張 不...
31867     要不要 喝水 是 哪 一部   只 記得 男 主角 問女 主角 要不要 喝水     這是...
31868     有 個 和尚 一直 哭  有 個 和尚 眼睛 白白 的     看起來 應該 是 個 瞎子...
31869     消費券 要 怎麼 花 最   噗噗   本肥 現在 還 有 3000 塊 消費券     ...
Name: key, Length: 31870, dtype: object

In [112]:
df1 = my_train
tf = count(df1)
pred_1 = P1(tf,df1)
pred_2 = P2(tf,df1)
dfk_1 = pd.DataFrame(pred_1)
dfk_2 = pd.DataFrame(pred_2)

In [114]:
a = pd.concat([dfk_1,dfk_2],axis=1)
a.to_csv(r'output.csv', index = False)
a

      0  0
0     0  0
1     0  0
2     0  0
3     0  0
4     0  0
...  .. ..
2436  0  0
2437  0  0
2438  0  0
2439  0  0
2440  0  0

[2441 rows x 2 columns]

var

In [108]:
a = pd.concat([dfk,dfk],axis=1)
a

      0  0
0     0  0
1     0  0
2     0  0
3     0  0
4     0  0
...  .. ..
2436  0  0
2437  0  0
2438  0  0
2439  0  0
2440  0  0

[2441 rows x 2 columns]

In [28]:
 X_train, X_test, y_train, y_test = train_test_split(tf, df1['push'].astype(object), test_size=0.07659)

In [69]:
print(X_test)

  (0, 102590)	0.1222638787836929
  (0, 99985)	0.10157625088135458
  (0, 98731)	0.1369475987556154
  (0, 96972)	0.08852276373807254
  (0, 96737)	0.0862233329014881
  (0, 95904)	0.1536424232146196
  (0, 91766)	0.13181877439788142
  (0, 90044)	0.12012929287446227
  (0, 78752)	0.19012278976489524
  (0, 72393)	0.18396660311141508
  (0, 57267)	0.11503157534342184
  (0, 47621)	0.10512781660834464
  (0, 47387)	0.3679239022663332
  (0, 47168)	0.134827125668291
  (0, 45479)	0.06532998589966252
  (0, 44525)	0.13390516832942734
  (0, 44421)	0.15532827657578127
  (0, 44180)	0.17357708974965852
  (0, 42744)	0.1672161238197894
  (0, 42704)	0.360578265756275
  (0, 39269)	0.2106606697617329
  (0, 38288)	0.11455660284913328
  (0, 28674)	0.404481377004873
  (0, 28656)	0.11933171219363702
  (0, 23070)	0.3061966885901628
  :	:
  (2439, 20075)	0.118132603365722
  (2439, 20052)	0.09141589260189002
  (2439, 2553)	0.09464173106072069
  (2440, 101976)	0.16813860867312
  (2440, 86839)	0.30779540990241383
  (2440, 62186)	0.2761226699177267
  (2440, 58406)	0.22877762144981115
  (2440, 58328)	0.12643762307313833
  (2440, 54673)	0.24141241046279185
  (2440, 51775)	0.18951714386531562
  (2440, 45716)	0.3006710771117001
  (2440, 36346)	0.21934414836450547
  (2440, 34626)	0.23497923312358432
  (2440, 23174)	0.12752669573284234
  (2440, 20109)	0.11888811231041109
  (2440, 19476)	0.15776509222029503
  (2440, 18166)	0.10196064204800566
  (2440, 17548)	0.30779540990241383
  (2440, 14586)	0.2878121358689424
  (2440, 10207)	0.27167854121919327
  (2440, 9821)	0.09564200506744372
  (2440, 9223)	0.0919419117365469
  (2440, 8925)	0.08575202504240342
  (2440, 6060)	0.08795828770874639
  (2440, 5807)	0.30779540990241383